<div class="panel panel-default" [class.cart-item]="isCart">
  <div class="item-img">
    <img src={{Item.Img}} class="img-thumbnail">
  </div>
  <div class="item-body">
    <div class="description">
      <div class="item-name">{{Item.Name}}</div> 
      <div class="item-description">
          <div>{{Description[0]}}</div>
          <div>{{Description[1]}}</div>
      </div>
    </div>
    <div class="elements">
        <div class="input-group item-counter">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number minus" [disabled]="decrementDisabled" (click)="decrement()">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </span>
            <input #amount type="number" class="form-control input-number" [ngModel]="Item.Count" (ngModelChange)="validateAmount($event)">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number plus" [disabled]="incrementDisabled" (click)="increment()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
        </div>
        <div *ngIf="!isCart" class="item-price">1 X {{Item.Price}} ₽</div>
        <div *ngIf="isCart" class="item-price price-cart">{{Item.Price * Item.Count}} ₽</div>
    </div>
  </div>
  <div *ngIf="!isCart" class="items-left">
      *Остаток на складе: {{Item.Amount}} шт.
  </div>
</div>