.item-img {
    padding: 0px;
}

.img-thumbnail {
    border: none;
    padding: 0;
    border-radius: 0;
}

.panel {
    border-radius: 0;
    position: relative;
    height: 350px;
}

.item-body {
    display: table-row;
    position: absolute;
    height: 34%;
    width: 100%;
}

.item-name {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 18pt;
}

.description {
    width: 65%;
    display: table-cell;
    padding: 5px 5px 5px 5px;
    position: absolute;
}

.elements {
    position: absolute;
    left: 65%;
    width: 35%;
    height: 100%;
}

.item-description {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12pt;
    color: gray;
    padding: 10px;
    padding-left: 20px;
}

.item-elements {
    display: table-cell;

}

.items-left {
    position: absolute;
    height: 12%;
    width: 100%;
    bottom: 0;
    font-size: 11pt;
    color: gray;
    padding: 10px;
    padding-left: 20px;
    border-top: 2px solid rgba(0,0,0,0.1);
    cursor: default;
}

.item-price {
    left: 20px;
    font-size: 16pt;
    color: rgb(97, 143, 27);
    position: absolute;
    bottom: 20px;
}

.item-counter {
    position: absolute;
    top: 30px;
    height: 24px;
    width: 90px;
    left: 20px;
}

.input-number {
    font-size: 14pt;
    padding: 0;
    height: 100%;
    border: none;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    z-index: auto;
}

.btn-number {
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
    border: 2px solid #337ab7;
    z-index: auto !important;
}

.minus {
    border-right: 1px solid transparent;
}

.plus {
    border-left: 1px solid transparent;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cart-item {
    height: 310px;
}

.price-cart {
    top: 67px;
    left: 40px
}