.panel {
    border-radius: 0;
}

.panel-heading {
    border-radius: 0;
    font-size: 14pt;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-panel {
    box-shadow: 0 1px 1px rgba(0,0,0,0.35);
}

.header-body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18pt;
}

.panel-area {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 900px;
}

.midpanel {
    width: 420px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    border: 0px;
    padding-bottom: 0;

    .panel-body {
        background-color: rgba(0,0,0,0.1);
        height: 600px;
        overflow-y: scroll;
        padding-bottom: 0;        
    }

    .cart-body {
        height: 540px;
    }
    
    .panel-heading {
        border-width: 1px;
    }

    .items-total {
        height: 60px;
        width: 100%;
        font-size: 11pt;
        padding: 10px;
        padding-left: 20px;
        border-top: 2px solid rgba(0,0,0,0.1);
        background-color: white;
    }    

    .cart-items-total {
        height: 60px;
        width: 100%;
        font-size: 14pt;
        padding: 10px;
        padding-left: 20px;
        border-top: 2px solid rgba(0,0,0,0.1);
        background-color: white;
        position: relative;

        .total-label {
            left: 35%;
            height: 83%;
            position: absolute;
        }

        .total-amount {
            color: rgb(97, 143, 27);
            position: absolute;
            right: 40px;
            top: 13px;
        }
    }
}

.goods {
    position: absolute;
}

.cart {
    position: absolute;
    left: 52%;
}

.page-background {
    height: 100%;
    position: relative;
}

.shopping-cart {
    height: 70%;
}