<div class="panel panel-default header-panel">
  <div class="panel-body header-body">Ваша корзина</div>
</div>

<div droppable [dropScope]="'Remove'" class="page-background" (onDrop)="outsideItemDrop($event)">
  <div class="panel-area">
    <div class="panel panel-primary midpanel goods">
      <div class="panel-heading">Товары</div>
      <div class="panel-body">
        <div draggable [dragScope]="'Add'" *ngFor="let item of Items" [dragData]="item">
          <item [Item]="item"></item>
        </div>

      </div>
    </div>
    <div class="panel panel-primary midpanel cart">
      <div class="panel-heading">Корзина</div>
      <div class="panel-body cart-body" droppable [dropScope]="'Add'" (onDrop)="onItemDrop($event)">
        <div draggable [dragScope]="'Remove'" *ngFor="let item of Cart" [dragData]="item">
          <item [Item]="item" [isCart]="true" (onZeroAmount)="removeItemFromCart($event)" (onCountChange)="updateTotalAmount($event)"></item>
        </div>
      </div>
      <div class="panel-body cart-items-total">
          <div class="total-label"><img src={{ShoppingCart}} class="shopping-cart"> Итого:</div><div class="total-amount">{{TotalAmount}} ₽</div>
      </div>
    </div>
  </div>
</div>